{% extends "admin_base.html" %}
{% block title %}Admin change password{% endblock %}
{% block content %}

<div class="content_area">

    <h2 class="admin_page_title">Change Admin Password</h2>

    <div class="admin_pass_box">

        <form class="admin_pass_form" method="POST" action="{{ url_for('admin_change_password') }}">

            <label>Enter Username :</label>
            <input type="text" name="username" required>

            <label>Enter Existing Password :</label>
            <input type="password" name="old_password" required>

            <label>Enter New Password :</label>
            <input type="password" name="new_password" required>

            <label>Confirm New Password :</label>
            <input type="password" name="confirm_password" required>

            <div class="admin_btn_row">
                <button type="submit" class="add_btn">Save Changes</button>
                <a href="{{ url_for('admin_dashboard') }}">
                    <button class="cancel_btn" type="button">Cancel</button>
                </a>
            </div>

        </form>

        {% if message %}
        <p class="msg" style="color:red; font-weight:bold; margin-top:15px;">{{ message }}</p>
        {% endif %}

    </div>

</div>

{% endblock %}