{% extends "base.html" %}

{% block content %}

 <main class="contact_content">

    <h2 class="contact_title">We’re Here to Help — Get in Touch With Us!</h2>

    <div class="contact_card">
     <div class="contact_inner">
        <!-- Email -->
        <div class="contact_row">
            <div class="icon_box">
                <img src="../static/images/email.png" alt="Email Icon">
            </div>
            <div class="contact_info">
                <span class="contact_heading">Email ID :</span>
                <span class="contact_text">bloodbridge786@gmail.com</span>
            </div>
        </div>

        <!-- Phone -->
        <div class="contact_row">
            <div class="icon_box">
                <img src="../static/images/phone.png" alt="Phone Icon">
            </div>
            <div class="contact_info">
                <span class="contact_heading">Phone :</span>
                <span class="contact_text">+919359042556</span>
            </div>
        </div>

        <!-- Address -->
        <div class="contact_row">
            <div class="icon_box">
                <img src="../static/images/address.png" alt="Address Icon">
            </div>
            <div class="contact_info">
                <span class="contact_heading">Address :</span>
                <span class="contact_text">
                    BloodBridge Head Office,<br>
                    Parbhani, Maharashtra, 431401
                </span>
            </div>
        </div>

        <!-- Working Hours -->
        <div class="contact_row">
            <div class="icon_box">
                <img src="../static/images/clock.png" alt="Working Hours Icon">
            </div>
            <div class="contact_info">
                <span class="contact_heading">Working Hours :</span>
                <span class="contact_text">
                    Monday to Saturday<br>
                    9:00 AM to 6:00 PM
                </span>
            </div>
        </div>

    </div>
    </div>
</main>


    {% endblock %}