{% extends "base.html" %}

{% block title %}Donation History{% endblock %}

{% block content %}

<main class="donation-history">

    <h2 class="page-title">Donation History</h2>

<div class="no_request_box"
     style="{% if donations|length == 0 %}display:block{% else %}display:none{% endif %}">
    <p class="no_request_text">
        No previous donations found.
    </p>
</div>

    <div class="table-container"
     style="{% if donations|length == 0 %}display:none{% else %}display:block{% endif %}">

    <table class="data-table">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Patient Name</th>
                <th>Blood Group</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for d in donations %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ d.patient_name }}</td>
                <td>{{ d.blood_group }}</td>
                <td>{{ d.completion_date.strftime('%d/%m/%Y') }}</td>
                <td>Completed</td>
                <td>
                    <label>
                        <input type="checkbox" checked disabled>
                        Confirmed by both
                    </label>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</main>

{% endblock %}
